#video {
    border-radius: 2%;
    border: 2px solid #999;
    width: 98%;
    max-width: 1500px;
    max-height: 600px;
}

.error {
    color: red;
}

.warn {
    color: orange;
}

.info {
    color: darkgreen;
}


.clr {
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
    border: 3px solid rgb(214, 214, 214);
    transition: transform .5s;
}

.clr:hover {
    transform: scale(1.2);
}

#black_pen {
    background-color: #000;
    margin-left: 15px;
}

#red_pen {
    background-color: #ff0000;
    margin-left: 15px;
}

#yellow_pen {
    background-color: #fdec03;
    margin-left: 15px;
}

#green_pen {
    background-color: #24d102;
    margin-left: 15px;
}

#white_pen {
    background-color: #fff;
    margin-left: 15px;
}

#nav_btn_save {
    border: none;
    outline: none;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: #03bb56;
    color: #fff;
}

#nav_btn_clear {
    border: none;
    outline: none;
    margin-left: 15px;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 50px;
    background-color: #ff0000;
    color: #fff;
}

.save {
    background-color: #0f65d4;
}

